<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="coords">
    <div>Lat: {{coords.lat}}</div>
    <div>Long: {{coords.long}}</div>
    <div>Accuracy: {{coords.accuracy}}</div>
    <div>Timestamp: {{coords.timestamp}} ({{elapsed}} seconds ago)</div>
  </div>

  <h2>Logs (newest first):</h2>
  <div class="logs" *ngFor="let line of geolocationService.logs.slice().reverse()">
    {{line}}
  </div>
</ion-content>
